#home{
    min-height: 50vh;  
    background: linear-gradient(to right, rgb(84, 13, 84), rgb(197, 156, 163));
    color: white;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; 
}

.btn{
    border-radius: 15px;
}

#skills{
    margin-top: 70px;
}
